@use "partials/reset.scss" as *;
@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;



.darkBlueBg {
    background-color: $deepDarkblue;
}
.lightgreyBg {
     background-color: $lightGrey;
}
.veryLightBlueBg {
    background-color: $veryLightBlue;
}