/*  
-----------------
💜Scss Variables here
----------------- */

$primaryWhite: #ebecef;
$lightGrey: #e2e3e7;
$darkGrey: #606d75;
$darkBlue: #058283;
$lightblue: #00a6a6;
$veryLightBlue: #d9f2f2;
$deepDarkblue: #0d1b2a;

$debug-border: 2px dashed red;