/*  
-----------------
💜Scss Variables here
----------------- */

$primaryWhite: #ebecef;
$lightGrey: #e2e3e7;
$darkGrey: #606d75;
$blueGrey: #b0dbdd;
$darkBlue: #005252;
$midBlue: #98e3df;
$lightblue: #00a6a6;
$veryLightBlue: #d9f2f2;
$deepDarkblue: #0d1b2a;
$backGrey: #111117;
